{% extends 'base.html' %}

{% block title %} Apoiadores | Expedição {% endblock %}

{% block content %}
<h1 class="h1">Apoiadores:</h1>

<div class="my-5">
    <h2>Faculdade de Engenharia Elétrica e de Computação - UNICAMP:</h2>
    
    <div class="text-center">
        <img src="/static/img/feec.png" class="img-fluid" alt="Logo da Faculdade de Engenharia Elétrica e de Computação">
    </div>
</div>

<div class="my-5">
    <h2>Instituto de Computação - UNICAMP:</h2>
    
    <div class="text-center">
        <img src="/static/img/ic.jpeg" class="img-fluid" alt="Logo do Instituto de Computação">
    </div>
</div>
{% endblock %}