<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">

    <title>{% block title %}Expedição{% endblock %}</title>
</head>

<body class="bg-dark text-white">

    <div class="bg-black">
        <nav class="navbar bg-black navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/expedicao"><img src="/static/img/logo.png" alt="Logo" width="80"
                        class="d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/expedicao">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/expedicao/cronograma">Cronograma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/expedicao/informacoes">Informações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/expedicao/apoiadores">Apoiadores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <div class="container py-4">
            {% block content %} {% endblock %}
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="static/js/main.js"></script>
</html>